.mbappe{
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-color: #121212;
    color: aliceblue;
    font-family: Cambria , Arial;
}
.getiddiv{
    background-color: #121212;
}
.vinijr{
    
    font-family: Arial;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    

}
.secaogetid{
    
    background-color: #121212;
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 26vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.getiddiv2{

    display:flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-color: #121212;
    color: aliceblue;
    font-family: Cambria , Arial;   
    display: flex;
    flex-direction: column;

}
.hexa{
    outline: unset;
    padding: 1px;
    min-width: 300px;
    border: 1px solid cornflowerblue;
    border-radius: 8px;

}
.neymar{
    
    padding-top: 2px;
    background-color: #530006;
    width: 300px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 8px;
}
.getiddiv3{
    display: flex;
    flex-direction: column;
}