.flauta {
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-color: #91f0d3;
    color: #1251a3;
    font-family: Cambria , Arial;
    flex-direction: column;


}
.quemexe{
    
    background-color: #91f0d3;
    color: #1251a3;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 81vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.involvente{
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-color: #91f0d3;
    color: #1251a3;
    font-family: Cambria , Arial;  
    padding: 3px; 



}
.divimc4{
    padding-top: 10px;
    align-items: left;
    justify-content: left;
    

    
}